---
import "uno.css";
// import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Prizes from "../components/Prizes.astro";
import Environment from "../components/Environment.astro";
import Affiliated from "../components/Affiliated.astro";
import Image from "astro/components/Image.astro";
import Badge1 from "../assets/img/badge/dell-genai-foundations.webp";
import Badge2 from "../assets/img/badge/dell-security-foundations-2024.webp";
---

<Layout
  title="About me | Akitoshi Lab."
  description="ロボットが大好きな大学生です．思ったことや日常の出来事をつぶやきます．たまに技術．"
  ogImage="/img/OGP.webp"
  canonicalUrl="https://akitoshi-lab.com/about/"
  bodyClass="m-0 p-0 font-snself overflow-x-hidden bg-gray-50"
>
      <astro-island>
        <Card />
      </astro-island>

      <section class="mb-10">
        <h2 class="text-3xl mb-4"><i class="i-material-symbols-light-mindfulness-outline-rounded"></i> Mind</h2>
        <hr class="border-gray-400 mb-4" />
        <p>好きなことをとことん極める</p>
      </section>

      <astro-island>
        <Affiliated />
      </astro-island>

      <section class="mb-10">
        <h2 class="text-3xl mb-4"><i class="i-material-symbols-light-id-card-outline-rounded"></i> 資格</h2>
        <hr class="border-gray-400 mb-4" />
        <h3 class="text-xl mb-2">認定資格</h3>
        <!-- badge1 -->
        <a
          href="https://www.credly.com/badges/dc1e577a-c863-4c11-8377-b51780f429ec/public_url"
          class="button inline-flex items-center p-2"
        >
          <Image
            src={Badge1}
            width={110}
            densities={[1, 2]}
            alt="Badge1"
            class=""
          />
        </a>
        <!-- badge2 -->
        <a
          href="https://www.credly.com/badges/6ff7b8a5-c4c8-4d1d-a683-071162cb3a5f/public_url"
          class="button inline-flex items-center p-2"
        >
          <Image
            src={Badge2}
            width={110}
            densities={[1, 2]}
            alt="Badge2"
            class=""
          />
        </a>

        <p>CCNA CyberOps Associate 2024 修了</p>

        <h3 class="text-xl mb-2">国家資格</h3>
        <p>第四級アマチュア無線技士</p>
      </section>

      <astro-island>
        <Environment />
      </astro-island>

      <astro-island>
        <Prizes />
      </astro-island>
</Layout>
