---
import { Image } from 'astro:assets';
import UEC from '../assets/img/affiliated/uec-logo.webp';
import MMA from '../assets/img/affiliated/mma-logo.webp';
import Infocraft from '../assets/img/affiliated/infocraft-logo.webp';
import Scramble from '../assets/img/affiliated/scramble-logo.webp';
---

<section class="mb-10">
  <h2 class="text-3xl mb-6"><i class="i-material-symbols-light-domain"></i> Affiliated</h2>
  <hr class="border-gray-400 mb-6" />
  <ul class="mb-10 space-y-2 p-4 md:px-8 md:py-6 bg-white rounded-lg shadow">
    <li class="flex items-center gap-4 px-3 py-3">
      <span class="w-12 h-12 flex-shrink-0 flex items-center justify-center rounded bg-white">
        <Image src={UEC} width={48} densities={[1, 2]} alt="uec-logo" class="object-contain max-w-full max-h-full" />
      </span>
      <div class="flex flex-col justify-center">
        <span class="font-semibold text-base text-[#232425]">電気通信大学</span>
        <span class="text-[#6B7280] text-sm">The University of Electro-Communications</span>
        <span class="text-[#6B7280] text-sm">共創進化スマート社会実現推進機構 技術支援員</span>
        <span class="text-[#A0A0A0] text-xs mt-1">Apr 2022 - Present</span>
      </div>
    </li>
    <hr class="border-gray-100 border-opacity-25 my-0" />
    <li class="flex items-center gap-4 px-3 py-3">
      <span class="w-12 h-12 flex-shrink-0 flex items-center justify-center rounded bg-white">
        <Image src={MMA} width={48} densities={[1, 2]} alt="mma-logo" class="object-contain max-w-full max-h-full" />
      </span>
      <div class="flex flex-col justify-center">
        <span class="font-semibold text-base text-[#232425]">電気通信大学 MMA</span>
        <span class="text-[#6B7280] text-sm">UEC MMA</span>
        <span class="text-[#A0A0A0] text-xs mt-1">Apr 2022 - Present</span>
      </div>
    </li>
    <hr class="border-gray-100 border-opacity-25 my-0" />
    <li class="flex items-center gap-4 px-3 py-3">
      <span class="w-12 h-12 flex-shrink-0 flex items-center justify-center rounded bg-white">
        <Image src={Infocraft} width={48} densities={[1, 2]} alt="infocraft-logo" class="object-contain max-w-full max-h-full" />
      </span>
      <div class="flex flex-col justify-center">
        <span class="font-semibold text-base text-[#232425]">Infocraft Inc.</span>
        <span class="text-[#6B7280] text-sm">サーバー管理部 バイト</span>
        <span class="text-[#A0A0A0] text-xs mt-1">May 2023 - Present</span>
      </div>
    </li>
    <hr class="border-gray-100 border-opacity-25 my-0" />
    <li class="flex items-center gap-4 px-3 py-3">
      <span class="w-12 h-12 flex-shrink-0 flex items-center justify-center rounded bg-white">
        <Image src={Scramble} width={48} densities={[1, 2]} alt="scramble-logo" class="object-contain max-w-full max-h-full" />
      </span>
      <div class="flex flex-col justify-center">
        <span class="font-semibold text-base text-[#232425]">（一社）次世代ロボットエンジニア支援機構</span>
        <span class="text-[#6B7280] text-sm">Scramble</span>
        <span class="text-[#A0A0A0] text-xs mt-1">Apr 2020 - Present</span>
      </div>
    </li>
  </ul>
</section>