---
import { Image } from 'astro:assets';
import UEC from '../assets/img/avatar.webp';
---

<section class="mb-10">
    <h2 class="text-3xl mb-4">Affiliated</h2>
    <hr class="border-gray-400 mb-4" />
    <Image src={UEC} width={32} densities={[1, 2]} alt="uec" class="w-6 h-6 rounded-lg lg:w-8 lg:h-8" />
    <p>電気通信大学</p>
    <Image src={UEC} width={32} densities={[1, 2]} alt="avatar" class="w-6 h-6 rounded-lg lg:w-8 lg:h-8" />
    <p>電気通信大学 MMA</p>
    <Image src={UEC} width={32} densities={[1, 2]} alt="uec" class="w-6 h-6 rounded-lg lg:w-8 lg:h-8" />
    <p>Infocraft Inc.</p>
    <p>サーバー管理部 バイト</p>
    <Image src={UEC} width={32} densities={[1, 2]} alt="uec" class="w-6 h-6 rounded-lg lg:w-8 lg:h-8" />
    <p>（一社）次世代ロボットエンジニア支援機構</p>
  </section>