---
import slide01 from '../assets/img1.webp';
import slide02 from '../assets/img2.webp';
import slide03 from '../assets/img3.webp';
import slide04 from '../assets/img4.webp';

const slideSrcs = [
  slide01.src,
  slide02.src,
  slide03.src,
  slide04.src,
];
---

<div id="bg-slideshow">
  <img
    id="bg-slide-img"
    src={slideSrcs[0]}
    alt="background slide"
    style="width:100%;height:100vh;object-fit:cover;position:fixed;top:0;left:0;z-index:-1;transition:opacity 1s;"
  />
</div>

<style>
  #bg-slideshow {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
  }
  #bg-slide-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 1s;
    opacity: 1;
  }
</style>

<script is:inline>
  const slides = ["/src/assets/img1.webp","/src/assets/img2.webp","/src/assets/img3.webp","/src/assets/img4.webp"];
  let current = 0;
  const img = document.getElementById('bg-slide-img');
  setInterval(() => {
    current = (current + 1) % slides.length;
    img.style.opacity = 0;
    setTimeout(() => {
      img.src = slides[current];
      img.style.opacity = 1;
    }, 500);
  }, 8000);
</script>
