---
// import { config } from '../settings/site-settings';
import { Image } from "astro:assets";
import Image1 from "../assets/img/back.webp";
import escape from "../assets/img/works/escape.jpg";
import scorpion_2018_1 from "../assets/img/works/scorpion-2018-1.jpg";
import scorpion_2018_2 from "../assets/img/works/scorpion-2018-2.jpg";
import scorpion_2019_1 from "../assets/img/works/scorpion-2019-1.jpg";
import scorpion_2019_2 from "../assets/img/works/scorpion-2019-2.jpg";
import scorpion_2019_3 from "../assets/img/works/scorpion-2019-3.jpg";
import scorpion_2020_1 from "../assets/img/works/scorpion-2020-1.jpg";
import scorpion_2020_2 from "../assets/img/works/scorpion-2020-2.jpg";
import scorpion_2021_1 from "../assets/img/works/scorpion-2021-1.jpg";
import scorpion_2021_2 from "../assets/img/works/scorpion-2021-2.jpg";
import scorpion_2021_3 from "../assets/img/works/scorpion-2021-3.jpg";
import scorpion_2022_1 from "../assets/img/works/scorpion-2022-1.jpg";
import scorpion_2022_2 from "../assets/img/works/scorpion-2022-2.jpg";
import scorpion_2023_1 from "../assets/img/works/scorpion-2023-1.jpg";
import scorpion_2023_2 from "../assets/img/works/scorpion-2023-2.jpg";
import emorobo from "../assets/img/works/emorobo.jpg";
import coursebreaker_2018 from "../assets/img/works/coursebreaker-2018.jpg";
import coursebreaker_2019 from "../assets/img/works/coursebreaker-2019.jpg";

import rm from "../assets/img/works/rm.jpg";
import frc from "../assets/img/works/frc.jpg";

const works = [
  {
    image: scorpion_2023_2,
    title: "Scorpion ver.2023-2",
    desc: "RobocupJuniorJapnOpen2023に出場した機体です．",
    prizes: ["RSJ賞", "デザイン賞"],
  },
  {
    image: scorpion_2023_1,
    title: "Scorpion Ver.2023-1",
    desc: "RobocupJunior関東ブロック2023に出場した機体です",
    prizes: ["優勝"],
  },
  {
    image: scorpion_2022_2,
    title: "Scorpion Ver.2022-2",
    desc: "RobocupJuniorJapnOpen2022に出場した機体です．モーターや回路の大幅な改善を行いました．個人的には失敗作です．",
    prizes: ["5位"],
  },
  {
    image: scorpion_2022_1,
    title: "Scorpion Ver.2022-1",
    desc: "RobocupJunior京滋奈ブロック2022に出場した機体です．RCAPの機体をブラッシュアップし，ソフトウェアの改善を行いました．",
    prizes: ["優勝"],
  },
  {
    image: emorobo,
    title: "emorobo",
    desc: "「感情を読み取る配膳ロボット」というコンセプトです．THK賞の資金を基に製作しました",
    prizes: ["サイエンスキャッスル研究費 THK賞"],
  },
  {
    image: Image1,
    title: "Scorpion ver.2021-3",
    desc: "RCAPに出場した機体です．「サッカーをすること」を目指し大幅な改善を行いました．",
    prizes: ["2nd", "試合結果1位"],
  },
  {
    image: frc,
    title: "FRC",
    desc: "Scrambleにて活動に参加しました。",
    prizes: ["ルーキーアワード"],
  },
  {
    image: scorpion_2021_3,
    title: "Scorpion Ver.2021-3",
    desc: "世界大会で使用した機体です．ゴルフボールに対応したロボットを作るという課題に対応するため急遽作成しました．1日でゴルフボール対応のドリブラーを製作しました．",
    prizes: ["加点"],
  },
  {
    image: scorpion_2021_2,
    title: "Scorpion Ver.2021-2",
    desc: "世界大会で使用した機体です．多くの思い出が詰まった機体です．",
    prizes: ["4nd", "SestTDP"],
  },
  {
    image: scorpion_2021_1,
    title: "Scorpion Ver.2021-1",
    desc: "RobocupJuniorJapnOpen2021に出場した機体です",
    prizes: ["準優勝"],
  },
  {
    image: scorpion_2020_2,
    title: "Scorpion Ver.2020-2",
    desc: "試作機体です．",
    prizes: [],
  },
  {
    image: rm,
    title: "Robomaster 2020",
    desc: "Robomaster2020に出場した機体です。Scrambleの活動に参加しました。",
    prizes: ["国際予選2位"],
  },
  {
    image: coursebreaker_2019,
    title: "CourseBreaker Ver.2020",
    desc: "RobocupJunior京滋奈ブロック2020に出場した機体です．ゴールキーパー用途として製作しました．",
    prizes: ["優勝", "学生科学賞3等"],
  },
  {
    image: scorpion_2020_1,
    title: "Scorpion Ver.2020-1",
    desc: "RobocupJunior京滋奈ブロック2020に出場した機体です．アタッカー機体です．",
    prizes: ["優勝"],
  },
  {
    image: scorpion_2019_3,
    title: "Scorpion Ver.2019-3",
    desc: "関西オープン2019に出場した機体です．Open初参戦の機体です．",
    prizes: ["4位"],
  },
  {
    image: scorpion_2019_2,
    title: "Scorpion Ver.2019-2",
    desc: "試作機体です．せとうちオープンに持っていきました．",
    prizes: [],
  },
  {
    image: scorpion_2019_1,
    title: "Scorpion Ver.2019-1",
    desc: "ビギナーの機体をLightweight対応に改造したものです．BIWAKOオープンやせとうちオープンで活躍しました．",
    prizes: ["4位", "SuperTeam優勝"],
  },
  {
    image: scorpion_2018_2,
    title: "Scorpion Ver.2018-2",
    desc: "RobocupJuniorJapnOpen2018に出場した機体です．ビギナーリーグに出場していました．",
    prizes: ["12位"],
  },
  {
    image: coursebreaker_2018,
    title: "CourseBreaker Ver.2018",
    desc: "RobocupJuniorJapnOpen&京滋奈ブロック2018に出場した機体です．",
    prizes: ["12位", "優勝"],
  },
  {
    image: scorpion_2018_1,
    title: "Scorpion Ver.2018-1",
    desc: "RobocupJunior京滋奈ブロック2018に出場した機体です．",
    prizes: ["優勝"],
  },
  {
    image: escape,
    title: "Escape",
    desc: "SRC13&国際ロボット展に出場していた時の機体です．",
    prizes: ["SRC13敢闘賞", "SRC国際ロボット展優勝"],
  },
];
---

<section class="mb-10">
  <h2 class="text-3xl mb-4">Works-robotics</h2>
  <hr class="border-gray-400 mb-4" />
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {
      works.map((work) => (
        <div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition-transform hover:scale-105">
          <a href="/works/Scorpion-2023-2" class="no-underline text-black">
            <Image
              src={work.image}
              alt="work image"
              class="w-full h-40 object-cover"
            />
            <div class="p-4 flex flex-col justify-between gap-1">
              <div>
                <h3 class="text-xl m-0">{work.title}</h3>
                <p class="text-sm text-gray-600">{work.desc}</p>
              </div>
              {work.prizes.length > 0 && (
                <div class="flex items-center gap-1">
                  <span class="i-material-symbols-rewarded-ads-outline-rounded text-yellow-500 mr-2" />
                  <ul class="list-none list-outside p-0">
                    {work.prizes.map((prize, i) => (
                      <li class="text-sm">{prize}</li>
                    ))}
                  </ul>
                </div>
              )}
            </div>
          </a>
        </div>
      ))
    }
  </div>
</section>
